<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEchoService" />
            </basicHttpBinding>
            <netTcpBinding>
              <binding name="NetTcpBinding_IEchoService"></binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/myservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEchoService" contract="EchoServiceProxy.IEchoService"
                name="BasicHttpBinding_IEchoService" />
            <endpoint address="net.tcp://localhost:9091/myservice2" binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IEchoService" contract="EchoServiceProxy.IEchoService"
                  name="NetTcpBinding_IEchoService" />
        </client>
    </system.serviceModel>
</configuration>