<div>
    <a href="https://google.com" id="loadTextBtn" class="btn btn-info">Load Some Big Text</a>
    <div id="loader" class="hidden">

        <h2>Working hard... loading your text</h2>

    </div>
    <p id="text"></p>
</div>
